@font-face {
    font-family: "pretendard";
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/Pretendard-Light.woff2") format("woff2");
    /* light */
}

@font-face {
    font-family: "pretendard";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Pretendard-Regular.woff2") format("woff2");
    /* regular */
}

@font-face {
    font-family: "pretendard";
    font-style: normal;
    font-weight: 600;
    src: url("../fonts/Pretendard-SemiBold.woff2") format("woff2");
    /* semi bold */
}

@font-face {
    font-family: "pretendard";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/Pretendard-Bold.woff2") format("woff2");
    /* regular */
}

html {
    -webkit-text-size-adjust: none;
}

#root {
    width: 100%;
    max-width: 100%;
    --vh: 100%;
    height: 100%;
    overflow-x: hidden;
    -webkit-text-size-adjust: none;
}

body,
html {
    width: 100%;
    max-width: 100%;
    height: var(--vh);
    overflow-y: hidden;
    font-family: "pretendard";
    margin: 0;
    overflow-x: hidden;
    color: #222222;
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body *,
html * {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
.label,
span,
input,
input::placeholder {
    margin: 0;
    font-family: "pretendard", sans-serif;
}