@font-face {
    font-family: "pretendard";
    font-style: normal;
    font-weight: 300;
    src: url("https://assets.gentooai.com/fonts/Pretendard-Light.woff2") format("woff2");
    /* light */
}

@font-face {
    font-family: "pretendard";
    font-style: normal;
    font-weight: 400;
    src: url("https://assets.gentooai.com/fonts/Pretendard-Regular.woff2") format("woff2");
    /* regular */
}

@font-face {
    font-family: "pretendard";
    font-style: normal;
    font-weight: 600;
    src: url("https://assets.gentooai.com/fonts/Pretendard-SemiBold.woff2") format("woff2");
    /* semi bold */
}

@font-face {
    font-family: "pretendard";
    font-style: normal;
    font-weight: 700;
    src: url("https://assets.gentooai.com/fonts/Pretendard-Bold.woff2") format("woff2");
    /* regular */
}

@keyframes jumpSequence {
    0%   { transform: translateY(0); }        /* 7초 대기 시작 */
    85%  { transform: translateY(0); }        /* 7초 대기 끝 */
    86%  { transform: translateY(-10px); }    /* FirstJump 시작 */
    91%  { transform: translateY(10px); }     /* FirstLand */
    96%  { transform: translateY(-10px); }    /* SecondJump */
    100% { transform: translateY(0); }        /* 복귀 */
}

.jumper {
    animation: jumpSequence 8.2s linear infinite;
    animation-fill-mode: forwards;
}

.floating-container {
    width: fit-content;
    height: fit-content;
    position: fixed;
    bottom: 66px;
    right: 0;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    z-index: 9999999;
}

.floating-button-common {
    background-size: contain;
    color: white;
    border: none;
    cursor: pointer;
    z-index: 9999999;
}

.button-image {
    width: 94px;
    height: 94px;
    background-repeat: no-repeat;
}

.button-image-zoom {
    width: 120px;
    height: 120px;
    background-image: url('https://assets.gentooai.com/sdk/gentoo-anime-web-noloop.gif');
    background-repeat: no-repeat;
}

.button-image-md {
    width: 68px;
    height: 68px;
    background-repeat: no-repeat;
}

.button-image-close {
    width: 54px;
    height: 54px;
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.16);
    border-radius: 50%;
    background-image: url('https://assets.gentooai.com/sdk/sdk-floating-close.png');
}

.button-image-close-mr {
    width: 54px;
    height: 54px;
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.16);
    border-radius: 50%;
    background-image: url('https://assets.gentooai.com/sdk/sdk-floating-close.png');
    margin-right: 24px;
}

.button-image-shrink {
    width: 40px;
    height: 40px;
    margin: 5px;
    background-image: url('https://assets.gentooai.com/sdk/floating-gentoo-shrink.png');
}

.expanded-button {
    position: fixed;
    bottom: 110px;
    right: 16px;
    width: fit-content;
    max-width: 300px;
    height: 50px;
    background: #fff;
    border: 1px solid #222;
    border-radius: 795px;
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.16);
    padding: 16px 24px;
    padding-right: 56px;
    z-index: 9999999;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    transition: all 1s;

    @media screen and (min-width: 600px) {
        bottom: 90px;
        right: 24px;
    }
}

.expanded-area {
    width: fit-content;
    height: fit-content;
    padding: 12px 14px;
    margin-bottom: 6px;
    background-color: #222;
    border-radius: 12px 0 12px 12px;
    z-index: 9999999;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 0.5s;
}

.expanded-area-md {
    width: fit-content;
    height: fit-content;
    padding: 8px 10px;
    margin-bottom: 4px;
    background-color: #222;
    border-radius: 12px 0 12px 12px;
    z-index: 9999999;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 0.5s;
}

.expanded-area-neutral {
    background-color: #444;
    border-radius: 12px;
    margin-bottom: 18px;
}

.expanded-area-neutral-md {
    background-color: #444;
    border-radius: 8px;
    margin-bottom: 4px;
}

.expanded-area-text {
    font-family: "pretendard";
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: -0.025em;
    margin: 0;
    width: fit-content;
    max-width: 152px;
    color: #fff;
    overflow: hidden;
    display: -webkit-box;
    white-space: pre-wrap;
    -webkit-line-clamp: 3; 
    line-clamp: 3;
    -webkit-box-orient: vertical;
}

.expanded-area-text-zoom {
    font-family: "pretendard";
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: -0.025em;
    margin: 0;
    width: fit-content;
    max-width: 180px;
    color: #fff;
    overflow: hidden;
    display: -webkit-box;
    white-space: pre-wrap;
    -webkit-line-clamp: 3; 
    line-clamp: 3;
    -webkit-box-orient: vertical;
}

.expanded-area-text-zoom-md {
    font-family: "pretendard";
    font-size: 14px;
    font-weight: 600;
    line-height: 17px;
    letter-spacing: -0.35px;
    margin: 0;
    width: fit-content;
    max-width: 160px;
    color: #fff;
    overflow: hidden;
    display: -webkit-box;
    white-space: pre-wrap;
    -webkit-line-clamp: 3; 
    line-clamp: 3;
    -webkit-box-orient: vertical;
}

.expanded-area-text-md {
    font-family: "pretendard";
    font-size: 12px;
    font-weight: 600;
    line-height: 14px;
    margin: 0;
    width: fit-content;
    max-width: 120px;
    color: #fff;
    overflow: hidden;
    display: -webkit-box;
    white-space: pre-wrap;
    -webkit-line-clamp: 3; 
    line-clamp: 3;
    -webkit-box-orient: vertical;
}

.expanded-text {
    font-family: "pretendard";
    font-size: 14px;
    font-weight: 600;
    max-width: 220px;
    color: #222;
    overflow: hidden;
    display: -webkit-box;
    margin: 0;
    cursor: pointer;
    -webkit-line-clamp: 1;
    line-clamp: 1;
    -webkit-box-orient: vertical;
}

.dimmed-background {
    position: fixed;
    bottom: 0;
    left: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
    z-index: 2147483646;
    width: 100%;
    height: 40%;
}

.iframe-container {
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: 100%;
    height: 99%;
    background-color: #fff;
    z-index: 2147483647;
    padding: 0px;
    border-radius: 10px;

    transition: all 0.5s ease;

    @media screen and (min-width: 600px) {
        width: 390px;
        height: calc(100% - 100px);
        bottom: 32px;
        right: 24px;
        box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.25);
        overflow: hidden;
    }
}

.iframe-container-shrink {
    position: fixed;
    bottom: 16px;
    right: 16px;
    width: calc(100% - 32px);
    height: 449px;
    background-color: #fff;
    z-index: 2147483647;
    padding: 0px;
    /* border: 1px solid #999; */
    border-radius: 10px;
    overflow: hidden;
    transition: all 1s ease;
    box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.25);
    
    @media screen and (min-width: 600px) {
        width: 390px;
        height: calc(100% - 100px);
        bottom: 32px;
        right: 24px;
        overflow: hidden;
    }
}

.iframe-container-hide {
    transform: translateY(150%);
}

.chat-iframe-md {
    width: 100%;
    height: calc(100% - 44px);
    border: none;

    @media screen and (min-width: 600px) {
        border-radius: 0 0 10px 10px;
    }
}

.chat-iframe {
    width: 100%;
    height: calc(100% - 56px);
    border: none;

    @media screen and (min-width: 600px) {
        border-radius: 0 0 10px 10px;
    }
}

.chat-header {
    width: 100%;
    height: 56px;
    background: #fff;
    border-radius: 10px 10px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    box-sizing: border-box;
}

.chat-header-text {
    width: fit-content;
    text-wrap: nowrap;
    font-family: "pretendard";
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    color: #C0C0C0;
}

.chat-handler {
    width: 44px;
    height: 4px;
    background-image: url('https://assets.gentooai.com/sdk/sdk-bs-handler.png');
}

.chat-close-button-container {
    width: fit-content;
    padding: 0 12px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #e1e1e1;
    border-radius: 10px;
    cursor: pointer;
}

.chat-close-button-container:hover {
    background: #efefef;
}

.chat-close-button-container-md {
    width: 46px;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
}

.chat-close-button-icon {
    width: 20px;
    height: 20px;
    margin-right: 2px;
    background-size: contain;
    background-image: url('https://assets.gentooai.com/sdk/chat-shrink.png');
}

.chat-close-button-icon-md {
    width: 20px;
    height: 20px;
    background-size: contain;
    /* background-image: url('https://assets.gentooai.com/sdk/chat-shrink-md.png'); */
    background-image: url('/public/close.svg');
}

.chat-close-button-text {
    font-family: "pretendard";
    font-size: 14px;
    font-weight: 600;
    color: #444;
}

.chat-close-button-text-md {
    font-family: "pretendard";
    font-size: 14px;
    font-weight: 600;
    color: #999;
    margin: 0;
    letter-spacing: -0.025em;
}

.chat-header-md {
    width: 100%;
    height: 44px;
    background: #fff;
    padding: 8px 16px;
    box-sizing: border-box;
    border-radius: 10px 10px 0 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.chat-handler-md {
    width: 40px;
    height: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    /* transform: rotate(-90deg); */
    /* background-image: url('https://assets.gentooai.com/sdk/sdk-bs-handler.png'); */
    background-image: url('/public/double_arrow_up.svg');
}

.chat-header-text-md {
    width: fit-content;
    text-wrap: nowrap;
    font-family: "pretendard";
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    margin: 0;
    color: #C0C0C0;
}

.chat-close-action-area-md {
    position: absolute;
    width: 46px;
    height: 40px;
    min-width: 46px;
    min-height: 40px;
    top: 0;
    right: 16px;
}

.chat-footer {
    width: 100%;
    height: 19px;
    background: #fff;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}

.chat-footer-text {
    width: fit-content;
    text-wrap: nowrap;
    font-family: "pretendard";
    font-size: 11px;
    font-weight: 400;
    line-height: 13px;
    margin: 0;
    color: #C0C0C0;
}

.chat-input-container {
    width: 100%;
    height: fit-content;
    position: fixed;
    bottom: 66px;
    right: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    transition: width 0.5s ease;
    z-index: 2147483647;
}

.chat-input-wrapper {
    width: 100%;
    height: fit-content;
    padding: 8px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    background-color: #fff;
    border-radius: 24px;
    overflow: hidden;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: width 0.5s ease;
    z-index: 2147483647;
}

input.chat-input {
    width: 100%;
    flex-grow: 1;
    border: none;
    outline: none;
    font-family: "pretendard";
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    line-height: 19px;
    color: #222;
    padding: 0;
    box-sizing: border-box;
    transition: width 0.5s ease;
    white-space: nowrap;
    height: 19px;
    min-height: 19px;
    max-height: 19px;
}

.gentoo-profile-image {
    width: 28px;
    height: 28px;
    flex-shrink: 0;
    border-radius: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('https://dev-avatar.gentooai.com/default/default-profile.png');
    box-sizing: border-box;
}

.chat-send-button {
    width: 28px;
    height: 28px;
    flex-shrink: 0;
    border: none;
    outline: none;
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
}

.chat-send-button-active {
    background-image: url('https://dev-assets.gentooai.com/units/send-active.png');
}

.chat-send-button-disabled {
    background-image: url('https://dev-assets.gentooai.com/units/send-disabled.png');
}

.exam-floating-group {
    width: fit-content;
    height: fit-content;
    position: absolute;
    right: 0;
    bottom: 52px;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    gap: 8px;
    transform: translateY(16px);
}

.exam-floating-wrapper {
    width: fit-content;
    height: 31px;
    overflow-y: hidden;
}

.exam-floating-button {
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e0e6f3;
    border-radius: 999px;
    padding: 5px 14px;
    cursor: pointer;

    p {
        font-family: 'pretendard', sans-serif;
        font-size: 15px;
        line-height: 19px;
        letter-spacing: -0.375px;
        font-weight: 400;
        color: #154cca !important;
    }
}

.footer-add-height {
    height: calc(100% - 75px);
}

.footer-add-height-md {
    height: calc(100% - 63px);
}

.hide {
    display: none;
}

.hide-visibility {
    visibility: hidden;
}

.shrink-hide {
    width: 0;
    padding: 0;
    opacity: 0;
    transition: all 0.5s ease;
}

.slide-up {
    transform: none;
    transition: all 0.5s ease;
}

/* .expand-visibie {
    width: 100%;
    padding: 0 16px;
    transition: all 0.5s ease;
} */

.event-disabled {
    pointer-events: none;
}